.setting, .setting2, .setting3, .bombArea, .boardArea, .pointArea, .actionNumArea, #submitArea{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.setting, .handicap, .gameOver{
    display: none;
}

.label{
    margin-right: 5px;
}

.input{
    margin-right: 10px;
}

.start.btn{
    width: 95%;
}

.roomPass{
    width: 100px;
}

td{
    border: solid 2px white;
    background-color: yellowgreen;
    width: 30px;
    height: 30px;
    text-align: center;
}

.preTd{
    width: 10px;
    height: 10px;
}

#p2Body .p1Open, #p1Body .p2Open{
    background-color: rgb(154, 154, 154);
}

#p1Body .p1Open, #p2Body .p2Open{
    background-color: rgb(154, 154, 154);
    font-weight: bold;
    color: black;
}

#p1Body .p1Open.p2Open, #p2Body .p1Open.p2Open{
    background-color: lightgray;
    color: black;
}

#p1Body .p1Flag, #p2Body .p2Flag{
    background-color: yellow;
}

/* .oriBomb{
    background-color: red;
} */

#p1Body .p1Bomb, #p2Body .p2Bomb{
    background-color: coral;
}

.actionButton{
    width: 25%;
    margin-left: 4%;
    margin-bottom: 10px;
}

#submit, #get{
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
}

button{
    color: #333;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0 0 0 / .2);
    border-radius: 6px;
    transition: 0.3s;
}

button.can:hover {
    text-decoration: none;
    background-color: #aaaaaa;
    box-shadow: 0 0 10px rgba(0 0 0 / 0);
}

div{
    font-size: 16px;
    font-weight: 550;
}

input{
    font-size: 16px;
    font-weight: 500;
}

.rule{
    font-weight: 500;
}

.target{
    border: 2px solid;
    border-style: dashed;
}